* {
    color: white;
    font-family: 'Courier New', monospace;  
}
body,h1,h2,h3,h4,h5,h6 {font-family: 'Courier New', monospace;}
b{
    color: rgb(245, 234, 0)
}
h1{
    color: white;
}
h2{
    color: black;
}
h3{
    color: white;
}

.bg-green{
    background-color: rgb(0, 43, 23);
}
.bg-white{
    background-color: white;
}
.bg-yellow{
    background-color: rgb(245, 234, 0)
}
.bg-mtp{
    background-image: url("images/mtp.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.txt-black{
    color: black;
}
.txt-green{
    color: rgb(0, 43, 23);
}
.txt-yellow{
    color:rgb(245, 234, 0);
}
/*-------------------------------------------------layout-----------------------------------------------------------*/
.inline {
    display: inline;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


  

